/python_web/03_home_work/dist/jpg/329356153_4076694779223016_470385678760230575_n.jpg
/python_web/03_home_work/dist/jpeg/abrakadabra.jpeg
/python_web/03_home_work/dist/png/asdfasdf.png
/python_web/03_home_work/dist/jpg/asdfasdfa.jpg
/python_web/03_home_work/dist/png/asdfasdfa.png
/python_web/03_home_work/dist/doc/asdfasf.doc
/python_web/03_home_work/dist/logo/asdfasfd.logo
/python_web/03_home_work/dist/jpg/channels4_profile.jpg
/python_web/04_home_work/front-init/storage/data.json
/python_web/03_home_work/dist/png/dfgsdfg.png
/python_web/05_home_work/exchange.json
/python_web/03_home_work/dist/jpeg/fdgsdfgsd.jpeg
/python_web/03_home_work/dist/mp3/other.mp3
/python_web/05_home_work/poetry.lock
/python_web/05_home_work/pyproject.toml
/python_web/03_home_work/dist/svg/sdfas.svg
.idea
venv/
python_web/13_home_work/venv/
__pycache__/
.venv/
.env